<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanglei.hgshop.dao.UserDao">

<insert id="add" useGeneratedKeys="true" keyColumn="uid" keyProperty="uid">
	INSERT INTO hg_user(username,password,name,email,telephone,sex,state)
	  VALUES(#{username},#{password},#{name},#{email},#{telephone},#{sex},0)	
</insert>	
	

</mapper>